body {
    margin: auto;
}

a {
    text-decoration: none;
    cursor: pointer;
}

#checkmore {
    text-decoration: none;
    position: absolute;
    top: 15px;
    color: #8c8c8c;
    right: 0;
    font-size: 14px;
    cursor: pointer;
}

.content-image {
    margin: auto;
    max-width: 1200px;
    position: relative;
}

.content-image div a {
    float: left;
    box-sizing: border-box;
}

.content-left {
    width: 270px;
    height: 463px;
    /* position: relative; */
    display: block;
    float: left;
}

.content-center {
    width: 464px;
    height: 464px;
    position: relative;
    box-sizing: border-box;
    float: left;
}

.content-right {
    width: 464px;
    height: 464px;
    position: relative;
    float: left;
    box-sizing: border-box;

}

.content-left a img {
    width: 270px;
    height: 463px;
}

.content-center a img {
    width: 463px;
    height: 231px;
}

.content-right a img {
    width: 231px;
    height: 231px;
    
}

.image-left {
    border: 1px solid #ddd;
    border-left: none;
}

.image-top {
    border: 1px solid #ddd;
    border-left: none;
}

.image-bottom {
    border: 1px solid #ddd;
    border-left: none;
    border-top: none;
    margin-top: -4px;
}