body {
    margin: auto;
    width: 100%;
}

a {
    text-decoration: none;
    cursor: pointer;
}

h1 {
    display: inline-block;
    font-size: 24px;
    text-align: left;
    padding: 0;
    border-top-width: 0px;
    border-top-style: solid;
    margin: 0 18px 20px 0;
}

fa {
    color: grey;
}

.mypart {
    margin: auto;
    max-width: 1200px;
    height: 550px;
    position: relative;
}

.checkmore {
    position: absolute;
    top: 15px;
    color: #8c8c8c;
    right: 0;
    font-size: 14px;
}

.content-image {
    font-size: 0;
    margin-bottom: 60px;
}

.content-image div a {
    float: left;
    box-sizing: border-box;
}

.content-left {
    width: 270px;
    height: 463px;
    /* position: relative; */
    display: block;
    float: left;
}

.content-center {
    width: 464px;
    height: 464px;
    position: relative;
    box-sizing: border-box;
    float: left;
}

.content-right {
    width: 464px;
    height: 464px;
    position: relative;
    float: left;
    box-sizing: border-box;
}

.content-left a img {
    width: 270px;
    height: 463px;
}

.content-center a img {
    width: 463px;
    height: 231px;
}

.content-right a img {
    width: 231px;
    height: 231px;
}

.image-left {
    border: 1px solid #ddd;
    border-right: none;
}

.image-top {
    border: 1px solid #ddd;
    border-left: none;
}

.image-bottom {
    border: 1px solid #ddd;
    border-left: none;
    border-top: none;
}

.image-lefttop {
    border: 1px solid #ddd;
}

.image-leftbottom {
    border: 1px solid #ddd;
    border-top: none;
}

.rightnav {
    position: fixed;
    top: 0;
    right: 0;
    width: 35px;
    height: 100%;
    background-color: rgb(78, 69, 69);
    z-index: 8;
}

.content-nav {
    color: #a3a3a3;
    position: fixed;
    top: 50%;
}

.nav-shop {
    border-bottom: 1px solid;
}

.shoplink {
    color: #a3a3a3;
}

.fa-cart-plus {
    margin-left: 2px;
}

.shoplink p {
    width: 16px;
    font-size: 16px;
    margin: 0 auto 0 10px;
    display: block;
    padding-bottom: 10px
}

.shopnum {
    width: 25px;
    height: 25px;
    line-height: 25px;
    background-color: #00b789;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    margin-left: 5px;
    margin-bottom: 8px;
    color: white;
}


.nav-service {
    text-align: center;
    margin-top: 14px;
}

 .link {
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    font-size: 20px;
    color: #a3a3a3;
}
.backtop{
    text-align: center;
    margin-top: 14px;
}
 .link:hover {
    background-color: #00b789;
    color:white;
}

